<a href="https://colab.research.google.com/github/RyuHyeonghwan/BackendOrmi/blob/main/%EC%98%A4%EB%8A%98%EB%B0%B0%EC%9A%B4%EA%B2%83/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제를 보면
# step 1. 어떤 자료 구조를 사용하여 이 문제를 풀어갈 것인지
#         저는 class를 선택
class Stock:
    def __init__(self,날짜, 종가, 전일비, 시가, 고가, 저가, 거래량):
        self.날짜 = 날짜
        self.종가 = 종가
        self.전일비 = 전일비
        self.시가 = 시가
        self.고가 = 고가
        self.저가 = 저가
        self.거래량 = 거래량

    def 거래금액(self):
        return self.종가 * self.거래량

In [ ]:
# step 2. 자료구조가 정해졌으면 함수 아키텍처를 어떤 구조로 가져갈지
#         각 함수에 들어가는 파라미터나 아규먼트도 고민을 해야 합니다.

from bs4 import BeautifulSoup
import requests

#1
def get_parsing_data():
    '''
    requests 모듈 사용해서 data를 가져와 bs4로 parsing해주는 함수
    '''
    pass

#2
def get_select_data():
    '''
    parsing된 데이터에서 목적에 맞는 데이터 추출
    '''
    pass

#3
def create_instance():
    '''
    데이터 추출한 것을 인스턴스로 생성
    '''
    pass

#4
def sum_data():
    '''
    인스턴스에서 필요 영역을 다 더할 수 있도록 하는 함수
    '''
    pass

In [3]:
# step3 함수 코딩

from bs4 import BeautifulSoup
import requests

def get_parsing_data(url):
    response = requests.get(url)
    response.encoding = 'utf-8'
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    return soup

def get_select_data(data, name, location): #company name은 활용하지 않습니다.
    return data.select('body > .main > table')[0]

def create_instance(datalist, selecdata):
    # 날짜 구해주는 함수를 깜빡했는데
    # 그대로(슬라이싱으로) 진행하겠습니다.
    for i in selecdata.select('tr')[1:]:
        print(i.select('td'))
        # 날짜.text, 종가.text, 전일비.text, 시가.text, 고가.text, 저가.text, 거래량.text = i.select('td')
        # print(날짜, 종가, 전일비)
    # datalist.append(Stock())

def sum_data():
    pass

soupdata = get_parsing_data('http://paullab.synology.me/stock.html')
selecdata = get_select_data(soupdata, 
                '제주코딩베이스캠프연구원', 
                'body > .main > table')
datalist = []
create_instance(datalist, selecdata)

[<td align="center "><span class="date">2019.10.23</span></td>, <td class="num"><span>6,650</span></td>, <td class="num">
<img alt="상승 " height="6 " src="ico_up.gif " style="margin-right:4px; " width="7 "/><span>
                            20
                        </span>
</td>, <td class="num"><span>6,590</span></td>, <td class="num"><span>6,830</span></td>, <td class="num"><span>6,580</span></td>, <td class="num"><span>398,421</span></td>]
[<td align="center"><span class="date">2019.10.22</span></td>, <td class="num"><span>6,630</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            190
                        </span>
</td>, <td class="num"><span>6,830</span></td>, <td class="num"><span>6,930</span></td>, <td class="num"><span>6,530</span></td>, <td class="num"><span>919,571</span></td>]
[<td align="center"><span class="date">2019.10.21</span></td>, <td class="num"><span>6,820</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            390
                        </span>
</td>, <td class="num"><span>6,440</span></td>, <td class="num"><span>6,890</span></td>, <td class="num"><span>6,360</span></td>, <td class="num"><span>1,678,055</span></td>]
[<td align="center"><span class="date">2019.10.18</span></td>, <td class="num"><span>6,430</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            480
                        </span>
</td>, <td class="num"><span>6,020</span></td>, <td class="num"><span>6,620</span></td>, <td class="num"><span>5,970</span></td>, <td class="num"><span>2,168,857</span></td>]
[<td align="center"><span class="date">2019.10.17</span></td>, <td class="num"><span>5,950</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            20
                        </span>
</td>, <td class="num"><span>6,100</span></td>, <td class="num"><span>6,180</span></td>, <td class="num"><span>5,840</span></td>, <td class="num"><span>1,982,922</span></td>]
[<td align="center"><span class="date">2019.10.16</span></td>, <td class="num"><span>5,930</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            290
                        </span>
</td>, <td class="num"><span>5,620</span></td>, <td class="num"><span>5,930</span></td>, <td class="num"><span>5,350</span></td>, <td class="num"><span>839,434</span></td>]
[<td align="center"><span class="date">2019.10.15</span></td>, <td class="num"><span>5,640</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            260
                        </span>
</td>, <td class="num"><span>5,370</span></td>, <td class="num"><span>5,660</span></td>, <td class="num"><span>5,300</span></td>, <td class="num"><span>702,104</span></td>]
[<td align="center"><span class="date">2019.10.14</span></td>, <td class="num"><span>5,380</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            340
                        </span>
</td>, <td class="num"><span>5,060</span></td>, <td class="num"><span>5,420</span></td>, <td class="num"><span>5,060</span></td>, <td class="num"><span>764,800</span></td>]
[<td align="center"><span class="date">2019.10.11</span></td>, <td class="num"><span>5,040</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            60
                        </span>
</td>, <td class="num"><span>5,100</span></td>, <td class="num"><span>5,170</span></td>, <td class="num"><span>5,020</span></td>, <td class="num"><span>134,558</span></td>]
[<td align="center"><span class="date">2019.10.10</span></td>, <td class="num"><span>5,100</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            50
                        </span>
</td>, <td class="num"><span>5,000</span></td>, <td class="num"><span>5,120</span></td>, <td class="num"><span>4,970</span></td>, <td class="num"><span>288,563</span></td>]
[<td align="center"><span class="date">2019.10.08</span></td>, <td class="num"><span>5,050</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            110
                        </span>
</td>, <td class="num"><span>4,985</span></td>, <td class="num"><span>5,050</span></td>, <td class="num"><span>4,910</span></td>, <td class="num"><span>223,839</span></td>]
[<td align="center"><span class="date">2019.10.07</span></td>, <td class="num"><span>4,940</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            70
                        </span>
</td>, <td class="num"><span>4,990</span></td>, <td class="num"><span>5,110</span></td>, <td class="num"><span>4,905</span></td>, <td class="num"><span>199,580</span></td>]
[<td align="center"><span class="date">2019.10.04</span></td>, <td class="num"><span>5,010</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            90
                        </span>
</td>, <td class="num"><span>4,900</span></td>, <td class="num"><span>5,050</span></td>, <td class="num"><span>4,900</span></td>, <td class="num"><span>188,467</span></td>]
[<td align="center"><span class="date">2019.10.02</span></td>, <td class="num"><span>4,920</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            90
                        </span>
</td>, <td class="num"><span>4,930</span></td>, <td class="num"><span>5,000</span></td>, <td class="num"><span>4,900</span></td>, <td class="num"><span>160,510</span></td>]
[<td align="center"><span class="date">2019.10.01</span></td>, <td class="num"><span>5,010</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            10
                        </span>
</td>, <td class="num"><span>4,950</span></td>, <td class="num"><span>5,050</span></td>, <td class="num"><span>4,950</span></td>, <td class="num"><span>246,145</span></td>]
[<td align="center"><span class="date">2019.09.30</span></td>, <td class="num"><span>5,000</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            10
                        </span>
</td>, <td class="num"><span>5,180</span></td>, <td class="num"><span>5,300</span></td>, <td class="num"><span>4,990</span></td>, <td class="num"><span>705,046</span></td>]
[<td align="center"><span class="date">2019.09.27</span></td>, <td class="num"><span>5,010</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            50
                        </span>
</td>, <td class="num"><span>5,020</span></td>, <td class="num"><span>5,080</span></td>, <td class="num"><span>4,865</span></td>, <td class="num"><span>408,859</span></td>]
[<td align="center"><span class="date">2019.09.26</span></td>, <td class="num"><span>5,060</span></td>, <td class="num">
<span>0</span>
</td>, <td class="num"><span>5,130</span></td>, <td class="num"><span>5,200</span></td>, <td class="num"><span>4,965</span></td>, <td class="num"><span>404,633</span></td>]
[<td align="center"><span class="date">2019.09.25</span></td>, <td class="num"><span>5,060</span></td>, <td class="num">
<img alt="하락" height="6" src="ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
                            270
                        </span>
</td>, <td class="num"><span>5,280</span></td>, <td class="num"><span>5,320</span></td>, <td class="num"><span>5,040</span></td>, <td class="num"><span>441,923</span></td>]
[<td align="center"><span class="date">2019.09.24</span></td>, <td class="num"><span>5,330</span></td>, <td class="num">
<img alt="상승" height="6" src="ico_up.gif" style="margin-right:4px;" width="7"/><span>
                            10
                        </span>
</td>, <td class="num"><span>5,300</span></td>, <td class="num"><span>5,370</span></td>, <td class="num"><span>5,280</span></td>, <td class="num"><span>211,019</span></td>]

In [ ]:
response = requests.get('http://paullab.synology.me/stock.html')

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

data = soup.select('body > .main > table')[0]

for i in data.select('tr')[1:]:
    for j in i.select('td'):
        print(j.text.strip())
    print('----')

In [ ]:
response = requests.get('http://paullab.synology.me/stock.html')

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

data = soup.select('body > .main > table')[0]

for i in data.select('tr')[1:]:
    print(i.select('td:nth-child(7)'))

In [5]:
response = requests.get('http://paullab.synology.me/stock.html')

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

data = soup.select('body > .main > table')[0]

result = []
for i in data.select('tr')[1:]:
    result.append(int(i.select('td:nth-child(7)')[0].text.replace(',', '')))

sum(result)

13067306

In [27]:
# step3 함수 코딩

from bs4 import BeautifulSoup
import requests

def get_parsing_data(url):
    response = requests.get(url)
    response.encoding = 'utf-8'
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    return soup

def get_select_data(data, name, location): #company name은 활용하지 않습니다.
    return data.select('body > .main > table')[0]

def create_instance(datalist, selecdata):
    # 날짜 구해주는 함수를 깜빡했는데
    # 그대로(슬라이싱으로) 진행하겠습니다.
    for i in selecdata.select('tr')[1:]:
        # print(i.select('td'))
        날짜, 종가, 전일비, 시가, 고가, 저가, 거래량 = i.select('td')
        # print(날짜.text.strip(), 
        #       종가.text.strip(), 
        #       전일비.text.strip(),
        #       시가.text.strip(), 
        #       고가.text.strip(), 
        #       저가.text.strip(), 
        #       거래량.text.strip())
        datalist.append(Stock(날짜.text.strip(), 
              종가.text.strip(), 
              전일비.text.strip(),
              시가.text.strip(), 
              고가.text.strip(), 
              저가.text.strip(), 
              거래량.text.strip()))
        # print(날짜, 종가, 전일비)

def sum_data(l):
    pass


soupdata = get_parsing_data('http://paullab.synology.me/stock.html')
selecdata = get_select_data(soupdata, 
                '제주코딩베이스캠프연구원', 
                'body > .main > table')
datalist = []
create_instance(datalist, selecdata)
datalist[0].거래량

'398,421'

## 정규표현식

- Anchors(처음과끝)
        /^hello/gm : 처음에 hello
        /hello$/gm : 끝에 hello

* dot(모든문자)
        /.ello/gm : hello, Hello, vello
        /./gm : 모든 문자열(*과 같은 역할)
        /....../gm : 모든 6개의 문자열

* 대괄호(1택)
        /h[eay]llo/gm : 대괄호 안에 문자 1개에 해당
        /h[ea]l../gm :총 5개의 문자

* 대쉬(범위)
        /h[a-f]llo/gm
        /[a-zA-Z0-9]/gm : 모든 알파뱃과 숫자를 찾음
        /[^a-zA-Z0-9]/gm : 나머지 문자열을 찾음  

* caret(대괄호 안에 들어가면 부정) 
 * 아래경우 a 와 e가 모두 부정
        /h[^ae]llo/gm : 대괄호 안에 있다면 not에 의미

* 소괄호(서브페턴, 그루핑)
 * 패턴으로 외우는것보다 뎨제로 습득하는게 이해하기 쉬움
        /(on|ues|rida)/gm: 그룹1로 3개중 매칭되는 패턴을 찾음

* 수량자
        _+ : 앞에 있는문자가 0개 ~ N개
        _+ : 앞에 있는 문자가 0개 ~ N개
        _? : 앞에 있는 문자가 0개 ~ 1개 

        {3} : 3개
        {3,} : 3개 이상
        {1,3} :1개 ~3개 

        _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
        _+ : 앞에 있는 문자가 1개 ~ N개({1,})
        _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

        /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
        /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
        /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm

* 캐릭터 클래스
        /\w/gm : 워드
        /\w{5} /gm: 5개의 글자와 스페이스 하나
        /\W/gm : not워드
        /\d/gm : 숫자
        /\D/gm : not숫자
        /\s/gm : 스페이스
        /\S/gm : not스페이스

* 이스케이프 문자
        /\[.*]/gm : 대괄호([])안에 감싸여진 문자열
        /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
        /\\.\//gm : 이미 사용되고 있는 특수 문자로 감싸여진 문자열
        /-.*-/gm : 이스케이프 문자가 필요한 경우
        /\^\^/gm : 이스케이프 문자가 필요한 경우
        /:\/ : 이스케이프 문자가 필요한 경우

* (연습) 전화번호

        010[-,. ]?[0-9]{4}[-,. ]?[0-9]{4}
        010([-,. ]?[0-9]{4}){2}

* 공식문서: https://docs.python.org/ko/3/library/re.html

* 정규 표현식에서 자주 사용되는 패턴
 * 아래와 같이 2가지 방법으로 사용할 수 있습니다.        
```python
#1
p = re.compile(r'([0-9|10])(SDT)(\*\#]?)')
p.findall('1S2D*3T')
#2
re.findall(r'([0-9|10](SDT)([\*\#]?)'
```
 * compile() : 패턴 컴파일
 * match() : 문자열의 앞 부분이 매치되는가를 체크, 추출
 * sub() : 매치된 부분을 치환(str에 replace와 같은 역할)
 * search() : 선두에 한해서 매치하는지를 체크, 추출
 * findall() : 매치된 부분 모두 리스트 반환
 * finditer() : 정규식과 매치되는 모든 문자열을 반복가능한 객체로 리턴한다
 * spilt : 정규표현 패턴으로 문자열 을 분할(str에 split와 같은 역할)
* 변환 객체의 값
 * group() : 매치된 문자열
 * groups() : 매치된 문자열 전체
 * start() : 매치된 문자열의 시작 위치
 * end() : 매치된 문자열의 끝 위치
 * span() : 매치된 문자열의 시작과 끝

* 컴파일 옵션
 * 사용예
 ```python
 e.compile('[a-z]+', re.I)
```
* re.DOTALL, re.S : 줄바꿈 문자까지 모두 매칭
* re.IGNORECASE, re.I : 대소문자 구분하지 않음
* re.MULTILINE, re.M : ^, & 등의 매칭 패턴을 라인마다 적용
* re.VERBOSE, re.X : 아래와 같이 #으로 주석문을 사용할 수 있음
  ```python
a = re.compile(r"""\d +  # the integral part
             \.    # the decimal point
             \d *  # some fractional digits""", re.X)
b = re.compile(r"\d+\.\d*")
```
* tip
 * 같은 패턴입니다
  ```python
re.compile('\\\\section')
re.compile(r'\\section')
```
 * {}를 표현하고 싶을 때에는 중괄호 2개, 또는 때에 따라 3개가 필요
  ```python
re.compile(f'{{section}}')
```

In [28]:
import re

p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

## compile

In [30]:
text = '''hello
hallo
hollo'''
text

'hello\nhallo\nhollo'

In [31]:
import re

p = re.compile('h[eao]llo')

## match

In [35]:
import re
p = re.compile('h[eao]llo')
result = p.match('hello hallo hollo')
result.group(0)
result

'hello'

In [39]:
p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo')
result.group(0)
result.group(1)
result.group(2)

'hallo'

In [38]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(0) # 전체 그룹
result.group(1) # 그룹1
result.group(2) # 그룹2
result.group(3) # 그룹3

'hollo'

In [40]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(1, 2) # 그룹1, 그룹2

('hello', 'hallo')

In [42]:
import re
p = re.compile('h[eao]llo')
p.match('hillo hello hallo hollo hillo hallo')

In [43]:
m = re.match(r"(?P<first_name>\w+) (?P<last_name>\w+)", "Malcolm Reynolds")
m.group('first_name')
m.group('last_name')

'Reynolds'

In [46]:
m = re.match(r"010-(?P<앞자리>[0-9]{4})-(?P<뒷자리>[0-9]{4})", "010-1000-2000")
m.group('앞자리'), m.group('뒷자리')

('1000', '2000')

In [47]:
valid = re.compile(r"^[a2-9tjqk]{5}$")

def displaymatch(match):
    if match is None:
        return None
    return '<Match: %r, groups=%r>' % (match.group(), match.groups())

displaymatch(valid.match("akt5q"))

"<Match: 'akt5q', groups=()>"

In [48]:
#https://school.programmers.co.kr/learn/courses/30/lessons/120849
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

In [49]:
def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [50]:
import re

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)